@page "/Detalles/Index"
@using Ramon_Gonzalez_AP1_P2.Models


<PageTitle>Consulta de .....</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h3 class="card-title fw-bold">Consulta de .....</h3>
        </div>

        <div class="card-body">

            @* Filtros *@
            <div class="row mb-2">
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>
                <div class="col-4">
                    <label class="col-form-label"><strong>Búsqueda</strong></label>
                </div>
                <div class="col-2">
                    <label class="col-form-label"><strong>Desde</strong></label>
                </div>
                <div class="col-2">
                    <label class="col-form-label"><strong>Hasta</strong></label>
                </div>
            </div>

            <div class="row align-items-center mb-3">
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" disabled selected>Elija una opción</option>
                        <option value="Id">Id</option>
                    </InputSelect>
                </div>

                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" ="Buscar"></button>
                    </div>
                </div>

                <div class="col-2">
                    <InputDate @bind-Value="FechaInicio" class="form-control" />
                </div>

                <div class="col-2">
                    <InputDate @bind-Value="FechaFin" class="form-control" />
                </div>
            </div>

            <div class="col text-end mt-2">
                <a href="/Ticket/Create" class="btn btn-success">
                    <i class="bi bi-plus-square"></i> Crear
                </a>
            </div>

            @* Tabla *@
            <table class="table table-hover">
                <thead class="table table-striped text-black">
                    <tr>
                        <th>Id</th>
                    </tr>
                </thead>
            </table>

            <div class="row mt-4">
                <div class="col-auto">
                    <label class="fw-bold">Conteo</label>
                    <input type="text" class="form-control" value="2" readonly />
                </div>
                <div class="col-auto ms-auto text-end">
                    <label class="fw-bold">Total</label>
                    <input type="text" class="form-control text-end" value="1,500.00" readonly />
                </div>
            </div>

        </div>
    </div>
</div>



@code {
    public List<Detalles> Registro { get; set; } = new();
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;
    public DateOnly? FechaInicio { get; set; }
    public DateOnly? FechaFin { get; set; }

}